<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="be.eymalaga" android:versionCode="1" android:versionName="1" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="EYMalaga" android:theme="@android:style/Theme.Holo.Light" android:icon="@drawable/icon">
    <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyBvU8cuN9WHNZlUiMIouDYPUFdABuTxkgM" />
		<item name="android:actionBarSize">0dp</item>
		<item name="android:windowActionBar">false</item>
		<item name="android:windowTitleSize">0dp</item>
		<item name="android:windowNoTitle">true</item>
		<item name="windowNoTitle">true</item>
		<item name="windowActionBar">false</item>
		<item name="actionBarSize">0dp</item>
	</application>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
  <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.INTERNET" />
</manifest>